---
import IndexLayout from '@/layouts/IndexLayout.astro'
import About from '@/components/widgets/About.astro'
import PostList from '@/components/widgets/PostList.astro'
import PublicationList from '@/components/widgets/PublicationList.astro'
import { themeConfig } from '@/config'
import { getSortedFilteredPosts, getSortedFilteredPublications } from '@/utils/draft'

const posts = await getSortedFilteredPosts()
const publications = await getSortedFilteredPublications()
---

<IndexLayout title={themeConfig.site.title} description={themeConfig.site.description}>
  <About />
  <main>
    {publications.length > 0 && (
      <section>
        <h2>Publications</h2>
        <PublicationList publications={publications} />
      </section>
    )}
    {posts.length > 0 && (
      <section>
        <h2>Posts</h2>
        <PostList posts={posts} />
      </section>
    )}
  </main>
</IndexLayout>
